<div id="<%= dom_id product_detail %>">
  <p>
    <strong>Product name:</strong>
    <%= product_detail.product_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product_detail.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= product_detail.image.to_s%>"/>
  </p>

</div>
