<h1>Editing product detail</h1>

<%= render "form", product_detail: @product_detail %>

<br>

<div>
  <%= link_to "Show this product detail", @product_detail %> |
  <%= link_to "Back to product details", product_details_path %>
</div>
