<p style="color: green"><%= notice %></p>

<h1>Product details</h1>

<div id="product_details">
  <% @product_details.each do |product_detail| %>
    <%= render product_detail %>
    <p>
      <%= link_to "Show this product detail", product_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New product detail", new_product_detail_path %>
