<div class="container text-center mt-5 text-bg-primary" style="padding: 3rem; border-radius:10px">
<h1 style="text-decoration:underline;text-decoration-thickness: 5px;">Cafe Management App</h1>
  <div class="row mt-5">

    <div class="col">
        <h1>Welcome!</h1>
        <%= button_to "Log In", shop_path, method: :get%>
        </br>
        <%= button_to "Register", new_user_registration_path, method: :get%>
    </div>

  </div>
</div>
