/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.home_bg {
  background-image: url('https://res.cloudinary.com/dazff5yba/image/upload/v1668758099/vecteezy_a-brown-table-top-with-a-blurred-coffee-shop_1782280_nffhex.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}
#shop_bg{
  background-image: url('https://res.cloudinary.com/dazff5yba/image/upload/v1668847627/vecteezy_a-brown-table-top-with-a-blurred-coffee-shop_1782281_elqghj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}


#title_name, #edit_products_title{
  font-family: Lobster;
  font-size: 4rem;
}
#edit_products_title,#new_product_title,#checkout_title, #order_receipt_title,#summary_title{
  font-family: Lobster;
  font-size: 3rem;
}

#welcome, #nav_bar, #edit_products, #create_product, #sort_today, #sort_date, #sort_product_solds{
  font-family: 'Fredoka One';
}

#login,#register,#shop_details,#proceed,#no_product,#checkout,#no_data,#logout,#searchs,#back,#create_new_product, #submit, #place_order, #print_receipt{
  font-family: 'Rubik Marker Hatch';
}
#order_receipt{
  font-family: 'VT323'
}