<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= link_to product.product_name, order_path({name:product.product_name, price:product.price}) %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= product.image.to_s%>"/>
  </p>

</div>

