<div>
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Price:</strong>
    &#8369;<%= sprintf('%.2f',product.price) %>
  </p>

  <p>
    <strong>Image:</strong>
    <img style="width:100px; height:85px;" src="<%= product.image.to_s%>"/>
  </p>


</div>





