<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= sprintf('%.2f',product.price) %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= product.image.to_s%>"/>
  </p>


</div>





