<div class="w-50 bg-secondary mx-auto p-5 mt-3 rounded" style=" --bs-bg-opacity: .15;">
  <h1 class="mb-3" id="new_product_title">New Product</h1>

  <% if notice  %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <% if alert  %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>

  <%= render "form", product: @product %>

  <br>

  <div>
    <%= button_to "Back to all products", products_path, method: :get, class:"btn btn-danger" ,id:"back"%>
  </div>
</div>
