<div class="bg-warning w-50 rounded mx-auto mt-3 p-5" style=" --bs-bg-opacity: .75;">
  <h1 class="mb-3">New product</h1>

  <% if notice  %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <% if alert  %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>

  <%= render "form", product: @product %>

  <br>

  <div>
    <%= button_to "Back to products", products_path, method: :get, class:"btn btn-danger" %>
  </div>
</div>
